      <!-- include header -->
      <%- include('header') %>
      <!-- /include header -->

      <!-- About -->

        <div class="about">
            <h1>About</h1>
            <h2>Hey there!👋 Want to know why I made this project? Well I made this 
                project to help develop my skills in Node, Express, MongoDB, and EJS
                (and also to help with homework management...)
                If you have any useful advice to give on this project
                you can find a way to give me that advice on the contact page, any is appreciated, thanks!</h2>
                <h3>This project was inspired by the <a href="https://www.codingnepalweb.com/todo-list-app-javascript/">CodingNepal's todolist</a>
                    and is a completely responsive front-end redesign
                    with a back-end database and added functionality 
                </h3>
        </div>

        <img src="images/computers.png" alt="computer" class="computer-image">
        <img src="images/gearimage.png" alt="gear" class="gear-image">
      
      <!-- include footer -->
      <%- include('footer') %>
      <!-- /include footer -->
