      <!-- include header -->
      <%- include('header') %>
      <!-- /include header -->

      <!-- About -->

        <div class="about">
            <h1>About</h1>
            <h2>Hey there!👋 Want to know why I made this project? Well I made this 
                project to help develop my skills in Node, Express, MongoDB, and EJS
                (and also to help with homework management)...
                If you have any advice to give or wanna
                give me a compliment on this project you can 
                do that on the contact page, thanks!</h2>
                <h3>This project was inspired by the CodingNepal's todolist
                    and is a complete front-end redesign with a back-end database
                    and completed with total server side file handling
                </h3>
        </div>

        <img src="images/computers.png" alt="computer" class="computer-image">
        <img src="images/gearimage.png" alt="gear" class="gear-image">
      
      <!-- include footer -->
      <%- include('footer') %>
      <!-- /include footer -->
