      <!-- include header -->
      <%- include('header') %>
      <!-- /include header -->


        <!-- Contact -->
  
          <div class="about contact">
              <h1>Contact</h1>
              <h2>Hey there!👋 Enjoying the project?
                Would you like to speak with me, if so
                you can contact me through Email (pablovaldes0925@gmail.com) or on LinkedIn.
                Also, if you wanted to know the source code for
                this project you can view it on my Github :)</h2>
                  <h3>This project was inspired by the <a href="https://www.codingnepalweb.com/todo-list-app-javascript/">CodingNepal's todolist</a>
                    and is a completely responsive front-end redesign
                    with a back-end database and added functionality 
                  </h3>
                  <h2>Here are some functioning social icons 😅</h2>
                  <div class="social-icons">
                    <a href="https://github.com/Valx01P"><img src="images/trugit.png" alt="githubicon"></a>
                    <a href="https://www.linkedin.com/in/pablo-valdes-98a91124a/"><img src="images/truli.png" alt="LinkedIn"></a>
                  </div>
          </div>
  
             
      <!-- include footer -->
      <%- include('footer') %>
      <!-- /include footer -->
