      <!-- include header -->
      <%- include('header') %>
      <!-- /include header -->


        <!-- Contact -->
  
          <div class="about contact">
              <h1>Contact</h1>
              <h2>Hey there!👋 Enjoying the project?
                Would you like to speak with me, if so
                send me an Email (pablovaldes0925@gmail.com) or message me on LinkedIn.
                Also, if you wanted to know the source code for
                this project you can view it on my Github :)</h2>
                  <h3>This project was inspired by the CodingNepal's todolist
                      and is a complete front-end redesign with a back-end database
                      and completed with total server side file handling
                  </h3>
                  <h2>Here are some functioning social icons 😅</h2>
                  <div class="social-icons">
                    <a href="https://github.com/Valx01P"><img src="images/trugit.png" alt="githubicon"></a>
                    <a href="https://www.linkedin.com/in/pablo-valdes-98a91124a/"><img src="images/truli.png" alt="LinkedIn"></a>
                  </div>
          </div>
  
             
      <!-- include footer -->
      <%- include('footer') %>
      <!-- /include footer -->
