
     <!-- Footer -->
     <footer id="footer">

        <div class="container-fluid">
  
          <i class="social-icon fa-brands fa-facebook-f"></i>
          <i class="social-icon fa-brands fa-twitter"></i>
          <i class="social-icon fa-brands fa-instagram"></i>
          <i class="social-icon fa-solid fa-envelope"></i>
          <p class="copyright">© Copyright 2022 Tyrone<sup>®</sup>LLC</p>
                   
<!-- Default dropleft button -->
 <!-- <div>
  <a data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="social-icon fa-solid fa-envelope"></i></a>
  <div class="dropdown-menu">
    <a class="dropdown-item" href="#">Action</a>
    <a class="dropdown-item" href="#">Another action</a>
    <a class="dropdown-item" href="#">Something else here</a>  
  </div>
</div> -->


        </div>
    </footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js" integrity="sha512-aVKKRRi/Q/YV+4mjoKBsE4x3H+BkegoM/em46NNlCqNTmUYADjBbeNefNxYV7giUp0VxICtqdrbqU7iVaeZNXA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="js/index.js"></script>
  </body>

</html>
