
     <!-- Footer -->
     <footer id="footer">

        <div class="container-fluid">
  
          <i class="social-icon fa-brands fa-facebook-f"></i>
          <i class="social-icon fa-brands fa-twitter"></i>
          <i class="social-icon fa-brands fa-instagram"></i>
          <i class="social-icon fa-solid fa-envelope"></i>
          <p class="copyright">© Copyright 2022 Tyrone<sup>®</sup>LLC</p>
                   
<!-- Default dropleft button -->
<!-- <div class="btn-group dropleft">
  <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Dropleft
  </button>
  <div class="dropdown-menu">
    <a class="dropdown-item" href="#">Action</a>
    <a class="dropdown-item" href="#">Another action</a>
    <a class="dropdown-item" href="#">Something else here</a>  
  </div>
</div> -->

  
        </div>
     </footer>
    <!-- </div> -->
  
</body>

</html>
